# Python
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
.vscode/
.idea/
.DS_Store
Thumbs*.db
instance/
*.db

# Frontend (general)
frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/package-lock.json
frontend/*.local
